<header class="fixed-header">
    <div id="welcomeName" class="welcome">Bienvenue</div>
    <div class="header-actions">
        <a href="/portfolio" class="link-white">Mon portefeuille</a>
        <button id="headerLogoutBtn" type="button" class="btn btn-danger">Déconnexion</button>
    </div>
</header>
