apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://brokerx-prometheus:9090
    isDefault: true
    editable: false

  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://brokerx-jaeger:16686
    editable: false

  - name: Loki
    type: loki
    access: proxy
    url: http://brokerx-loki:3100
    editable: false
